@using System.Web.Optimization
@model PieVerse.Web.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    ViewBag.Active = "";
    ViewBag.PageTitle = "Register: create an account in system";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="login">
        <h1 class="logo w small">PieVerse</h1><br />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <!--<div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">-->
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Логин" } })
        <!-- @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">-->
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "E-mail" } })
        <!-- @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">-->
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", PlaceHolder = "Пароль" })
        <!-- @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">-->
        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Повторите пароль" } })
        <!-- @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-default" />
                </div>
            </div>
        </div>-->
        <div class="buttonsContainer">
            <input type="submit" value="Зарегистрироваться" />
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/Scripts/register-script.js")
}