<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <title>Пирожковая</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<header>
    <h1 class="logo">PieVerse</h1><br/>
    <ul class="menu">
        <li class="@ViewBag.ReadStyle">@Html.ActionLink("Читать", "feed", "Pieverse")</li>
        <li class="@ViewBag.WriteStyle">@Html.ActionLink("Писать", "add", "Pieverse")</li>
    </ul>
</header>
    <main>
        @RenderBody()
    </main>
    <footer>
        (c) 2015 PieVerse
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
