@model PieVerse.Web.Models.PieverseViewModel
           
@using (Ajax.BeginForm("AddPieverse", "Pieverse", new AjaxOptions() { UpdateTargetId = "addPieverse" }, FormMethod.Post))
{
    <p class="firstLine" id="firstLine">
        @Html.Partial("_FirstLine", Model.FirstLine)
    </p>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.FirstLine.Text)
    @Html.HiddenFor(m => m.FirstLine.Id)

    @Html.ValidationMessageFor(m => m.Body, "", new { style = "display: block;" })
    @Html.TextAreaFor(m => m.Body, new { @class = "nextLines", rows = "3" })
    <div>
        <input type="submit" value="Написать" />
    </div>
}

<div>
    <h2>Также вы можете выбрать такие строки:</h2>
    @foreach (var line in Model.AllLines)
    {
        <div><a href="#">@line</a></div>
    }
</div>
