@model PieVerse.Web.Models.PieverseViewModel
           
@using (Ajax.BeginForm("AddPieverse", "Pieverse", new AjaxOptions() { UpdateTargetId = "menu2" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationMessageFor(m => m.Body)
    
    @Html.Partial("_FirstLine", Model.FirstLine)

    @Html.HiddenFor(m => m.FirstLine.Text)
    @Html.HiddenFor(m => m.FirstLine.Id)

    @Html.TextAreaFor(m => m.Body, new { @class = "nextLines", rows = "3" })
    <div>
        <input type="submit" value="Написать" />
    </div>
}

<div class="search-pan">
    <form>
        <input type="search" class="search" placeholder="Шукати рядок">
        <input type="submit" value="Пошук" class="search-but">
    </form>
    <ul class="line-menu">
    @foreach (var line in Model.AllLines)
    {
        <li><a href="#" id="@line.Id">@line.Text</a></li>
    }
    </ul>
</div>
