@model PieVerse.Web.Models.PieverseCreateViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="firstLine" id="firstLine">
    @Html.Partial("_FirstLine", Model.FirstLine)
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.TextAreaFor(m => m.Body, new { @class = "nextLines", rows = "3" })
    <div>
        <input type="submit" value="Написати" />
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
