@model IEnumerable<PieVerse.Web.Models.PieverseViewModel>

@* Rud's kostyl' begin *@
@{
    ViewBag.ReadStyle = "active";
}
@* Rud's kostyl' end *@

<div class="sortContainer">
    <div class="sort">
        <a class="new active" href="@Url.Action("Sort", new {sortingField = "new"})">Новые</a>
        <a class="popular" href="@Url.Action("Sort", new {sortingField = "popular"})">Популярные</a>
    </div>
</div>

@for (var i = 0; i < Model.Count(); i++)
{
    var pieverseColorClass = i % 2 == 0 ? "b" : "w";
    <div class="pieverseContainer @pieverseColorClass">
        <div class="pieverse">
            <p class="text">
                @Model.ElementAt(i).FirstLine.Text
                @Model.ElementAt(i).Body
            </p>
            @if (User.IsInRole("Admin"))
            {
                <a class="like" href="#like"></a><a class="delete" href="@Url.Action("Delete", new {id = @Model.ElementAt(i).Id})"></a>
            }
            else
            {
                <a class="like" href="#like"></a>
            }
    </div>
</div>
}


