@model IEnumerable<PieVerse.Web.Models.PieverseViewModel>

@* Rud's kostyl' begin *@
@{
    ViewBag.ReadStyle = "active";
}
@* Rud's kostyl' end *@

<div class = "container-left">
    <div class="sortContainer">
        <div class="sort">
            <a class="new active" href="@Url.Action("Sort", new {sortingField = "new"})">Новые</a>
            <a class="popular" href="@Url.Action("Sort", new {sortingField = "popular"})">Популярные</a>
    </div>
</div>

<div class = "container-right">
    @Html.Partial("_LoginPartial") 
</div>

@for (var i = 0; i < Model.Count(); i++)
{
    var pieverseColorClass = i % 2 == 0 ? "b" : "w";
    var pieverse = Model.ElementAt(i);
    var likeClass = pieverse.IsLiked ? "active" : "";
    <div class="pieverseContainer @pieverseColorClass">
        <div class="pieverse">
            <p class="text">
<<<<<<< HEAD
                @Model.ElementAt(i).FirstLine.Text
                @Model.ElementAt(i).Body
<<<<<<< HEAD
            </p><a class="writeThis"></a><a class="like"></a><a class="delete"></a><a class="like"></a><div class="like-container"><div class="like-count">123</div></div>
        <div class="under">
            <span class="author">@Author</span>|<span class="date">05:10 06.06.2006</span>
        </div>
        </div>
=======
=======
                @pieverse.FirstLine.Text
                @pieverse.Body
>>>>>>> origin/dev
            </p>
            @Ajax.ActionLink(
                pieverse.LikesCount.ToString(),
                "Like",
                new {id = pieverse.Id},
                new AjaxOptions() {UpdateTargetId = "like" + pieverse.Id},
                new {@class = "like " + likeClass, id = "like" + pieverse.Id}
                )
            @if (User.IsInRole("Admin"))
            {
                <a class="delete" href="@Url.Action("Delete", new {id = @pieverse.Id})"></a>
            }
<<<<<<< HEAD
>>>>>>> origin/dev
=======
        </div>
        <div class="author">@pieverse.AuthorName</div>
        <div class="time">@pieverse.AddingTime</div>
>>>>>>> origin/dev
    </div>
}


