@model IEnumerable<PieVerse.Web.Models.PieverseViewModel>

@* Rud's kostyl' begin *@
@{
    ViewBag.ReadStyle = "active";
}
@* Rud's kostyl' end *@

<div class = "container-left">
    <div class="sortContainer">
        <div class="sort">
            <a class="new active" href="@Url.Action("Sort", new {sortingField = "new"})">Новые</a>
            <a class="popular" href="@Url.Action("Sort", new {sortingField = "popular"})">Популярные</a>
        </div>
    </div>
</div>

<div class = "container-right">
    @Html.Partial("_LoginPartial") 
</div>

@for (var i = 0; i < Model.Count(); i++)
{
    var pieverseColorClass = i % 2 == 0 ? "b" : "w";
    var pieverse = Model.ElementAt(i);
    var likeClass = pieverse.IsLiked ? "active" : "";
    <div class="pieverseContainer @pieverseColorClass">
        <div class="pieverse">
            <p class="text">
                @pieverse.FirstLine.Text
                @pieverse.Body
            </p>
            @if (User.IsInRole("Admin"))
            {
                <a class="delete" href="@Url.Action("Delete", new {id = @pieverse.Id})"></a>
            }
            @* Ajax.ActionLink(
                pieverse.LikesCount.ToString(),
                "Like",
                new {id = pieverse.Id},
                new AjaxOptions() {UpdateTargetId = "like" + pieverse.Id},
                new {@class = "like " + likeClass, id = "like" + pieverse.Id}
                )
            *@
            <a class="like @likeClass" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#" href="#" id="like4"></a>
            <div class="like-container">
                <div class="like-count">123</div>
            </div>
            <div class="under">
                <span class="author">@pieverse.AuthorName</span>|
                <span class="date">@pieverse.AddingTime</span>
            </div>
    `   </div>
    </div>
}


