@model IEnumerable<PieVerse.Web.Models.PieverseViewModel>

@* Rud's kostyl' begin *@
@{
    ViewBag.ReadStyle = "active";
}
@* Rud's kostyl' end *@

<div class="sortContainer">
    <div class="sort">
        <a class="new active" href="@Url.Action("Sort", new {sortingField = "new"})">Новые</a>
        <a class="popular" href="@Url.Action("Sort", new {sortingField = "popular"})">Популярные</a>
    </div>
</div>

@for (var i = 0; i < Model.Count(); i++)
{
    var pieverseColorClass = i % 2 == 0 ? "b" : "w";
    var pieverse = Model.ElementAt(i);
    <div class="pieverseContainer @pieverseColorClass">
        <div class="pieverse">
            <p class="text">
                @pieverse.FirstLine.Text
                @pieverse.Body
            </p>
            @Ajax.ActionLink(
                    pieverse.LikesCount.ToString(),
                    "Like",
                    new { id = pieverse.Id },
                    new AjaxOptions() { UpdateTargetId = "like" + pieverse.LikesCount },
                    new { @class = "like" }
                    )
            @if (User.IsInRole("Admin"))
            {
                <a class="delete" href="@Url.Action("Delete", new { id = @pieverse.Id })"></a>
            }
        </div>
    </div>
}


